@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&family=Roboto:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;600&family=Montserrat+Alternates:wght@500&family=Roboto:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&display=swap');


*
{
  margin: 0;
  box-sizing: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: white;
}

/* .container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
} */

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #171717;
  font-family: 'Poppins', sans-serif;
}

.Title{
  color: #ffffff;
  font-size: 30px;
  border: none;
  cursor:pointer;
  padding: 10px 16px;
  border-radius: 30px;
  transition: all 0.3s ease 0s;
}

.nav-links a{
  font-weight: 500;
  font-size: 20px;
  color: #edf0f1;
  text-decoration: none;
}

.nav-links{
  list-style: none;
}

.nav-links a{
  display: inline-block;
  padding: 0px 20px;
  border: 2px solid transparent;
  border-radius: 30px;
  color: white;
  padding: 5px 13px;
  margin-left: 20px;cursor: pointer;
}

.nav-links  a{
  transition: all 0.2s ease 0s;
}

.nav-links a:hover{
    color: #31f5ef;
}

@media screen and (max-width: 768px) {
  header{
    
    width: 100%;
  }
  .nav-links a{
    display: none;
  }
  .nav-links{
    display: none;
    padding: 0 1rem;
  }
}

/* Landing Page Section */

.main-container{
  height: auto;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.video{
  width: 50%;
  border-radius: 30px;
}

.video-main{
  margin-top: 10%;
  margin-left: 150px;
}

.main{
  width: 100%;
  padding-left: 18%;
  margin-top: 10rem;
  /* padding: 15px; */
  font-family: 'Roboto', sans-serif;
}

.main h2{
  margin-bottom: 15px;
  font-size: 30px;
}

.main p{
  margin-bottom: 15px;
  font-size: 20px;
}

.main button{
  color: #fff;
  font-size: 15px;
  padding: 10px 15px;
  border-radius: 30px;
  border: none;
  background-color: rgb(48, 48, 48);
  transition: all 0.3s ease;
  font-family: 'Roboto', sans-serif;
}

.main button:hover{
  cursor: pointer;
  background-color: rgb(25, 25, 25);
}

@media screen and (max-width: 768px) {
  .main-container{
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .main{
    padding-left: 10%;
    padding-right: 10%;
    font-size: 2rem;
  }
  .video-main, .main{
    margin-bottom: 20px;
    align-items: center;
  }

  .video-main{
    margin-top: 10%;
    margin-left: 50px;
  }
  .video{
    width: 90%;
  }
}

/* Wave Section */


.custom-shape-divider-bottom-1691155722 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1691155722 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 167px;
}

.custom-shape-divider-bottom-1691155722 .shape-fill {
  fill: black;
}

 /* service section */

.services-section{
  background-color: #171717;
  color: white;
  margin-top: -10px;
  text-align: center;
  font-size: 1.5rem;
  font-family:  "Roboto", sans-serif;
  height: 600px;
}

.container2{
  display: flex;
}

.card .gif{
    display: inline-block;
    width: 10rem;
    height: 10rem;
}
 .card{
    height: 370px;
    margin-top: 50px;
    width: 300px;
    margin-left: 160px;
    border: 2px solid transparent;
    border-radius: 30px;
    background-color:transparent;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    padding-bottom: 20px;
   }

 .card:hover{
   box-shadow: 0px 0px 10px white;
 }

 .card p{
   font-size: 20px;
   padding: 15px;
   margin-top: 10px;
   letter-spacing: 1.5px;
   font-family:  "Roboto", sans-serif;
 }

 .services{

   font-size: 20px;
   font-family: 'Roboto', sans-serif;
   margin-top: 20px;
   padding: 5px;
   margin-left: 70px;
   margin-right: 70px;
 }

 @media (max-width: 1200px) {
  .card{
    height:100%;
    width:100%;
    margin-left: auto;
  }
}

@media (max-width: 700px) {
  .container2{
    flex-direction: column;
    width: 100%;
  }
  .services-section{
    height: auto;
  }
}

/* Marketing-Section  */

 .Marketing-section{
  background-image: url(Images/marketing.png);
  height: 650px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  padding-left: 250px;
 }

 .Marketing-section img{
  position: relative;
  height: 500px;
  width: 500px;
 }
 
 .marketing1, .marketing2, .contactBtn{
   color: white;
   position: relative;
   display: flex;
   bottom: 50px;
 }

 .digital-marketing2 h3{
  font-size: 40px;
 }
 
 .digital-marketing2 p{
  font-size: 20px;
  margin-top: 20px;
}

.marketing-button .contactBtn{
  background-color: rgb(48, 48, 48);
  font-size: 20px;
  padding: 15px 30px;
  margin-top: 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.contactBtn:hover{
  background-color: rgb(25, 25, 25);
}

@media (max-width: 1030px) {
  .Marketing-section{
    padding: 0;
  }
}

 @media (max-width: 768px) {
   .Marketing-section{
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    height: auto;
   }
   .digital-marketing2{
    font-size: 1rem;
   }
   .Marketing-section img, .digital-marketing2{
   margin-bottom: 20px;
   align-items: center;
   }
   .Marketing-section  img{
    height: 250px;
    width: 250px;
   }
   .digital-marketing2 h3{
    font-size: 25px;
   }
   .digital-marketing2 p{
      font-size: 14px;
   }
   .marketing-button{
    display: flex;
    justify-content: center;
   }

   .marketing-button .contactBtn{
    padding: 15px 20px;
    font-size: 17px;
   }
}


/* contact section */


.contact-section {
  background-color: #fff;
  font-family: 'Poppins', sans-serif; 
}

.contact-container{
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }


.login-form h1 {
  background-color: #fff;
  position: relative;
  margin-bottom: 10px;
  color: #333;
  font-size: 30px;
  padding-bottom: 4px;
  outline: none;
  border: none;
}

.login-form h1::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 0.165rem;
  left: 0;
  bottom: 0;
  background: #000;
}

.login-form h1::after{
  transform: scale(0, 1);
  transition: all 0.35s ease;
}

.login-form h1:hover::after{
  transform: scale(1, 1);
} 
  .login{
  width: 1000px;
  min-height: 600px;
  overflow: hidden;
  border-radius: 5px;
  background: #222;
  display: flex;
  box-shadow: 15px 5px 30px rgba(0, 0, 0, 0.3 );
  }
  
  .content{
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #252525;
  }
  
  .content img{
  width: 100%;
  }
  
  .login-form{
   flex-basis: 50%;
   background: white;
   padding: 25px;
  }
  
  .login-form h1{
  text-align: center;
  margin-top: 25px;
  font-size: 2.5em;
  margin-bottom: 30px;
  }
  
  .Box{
    border-radius: 3px;
    background: transparent;
    outline: none;
    border: 1px solid #252525;
    width: 100%;
    height: 40px;
    margin: 10px 0px;
    
  }
  
  .Box input{
  background: transparent;
  width: 100%;
  outline: none;
  border: 0;
  }
  
  ::placeholder{
  color: #777;
  }
  
  .Box{
  color: #55efc4;
  font-size: 15px;
  padding: 7px;
  }
  
  .btn{
    width: 100%;
    border: 0;
    border-radius: 5px;
    background: #252525;
    color: #fff;
    padding: 12px 5px 12px 5px;
    font-size: 18px;
    transition: 0.15s;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .btn:hover{
   cursor: pointer;
   color: white;
   background: rgb(125, 125, 125);
  }
  
  .login-form a{
  text-decoration: none;
  color: #252525;
  }
  
  @media(max-width:768px) {
  .login{
    flex-direction: column;
    margin: 0 15px;
  }
  .login-form .ask{
    font-size: 1.5rem;
  }
  }

/* Define footer styles */

footer{
  z-index: -1;
  background-color: rgb(48, 48, 48);
  color: #fff;
  height: auto;
  width: 100%;
  padding: 20px;
  margin-top: 10px;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}

footer .logo{
  margin-left: 40px;
}

footer p {
  margin-top: 15px;
  font-weight: 300;
  margin-left: 40px;
}

.socials {
  display: flex;
  margin-top: 10px;
  gap: 20px;
  margin-left: 40px;
}
.socials i {
  cursor: pointer;
}

.credits a{
  color: rgb(75, 238, 250);
  transition: all 0.3s ease;
}

.credits a:hover{
  color: white;
}

@media(max-width:768px) {
   
  footer p {
      margin-left: 10px;
      height: auto;
  }
  footer .logo {
      margin-left: 10px;
  }
  .socials{
      margin-left: 10px;
  }
}